# -----------------------------
# Eclipse IDE files
# -----------------------------
**/.settings/
**/.classpath
**/.project

# -----------------------------
# Gradle build and cache
# -----------------------------
**/build/
**/.gradle/

# Ignore gradle wrapper properties and version catalog if not needed
**/gradle.properties
**/gradle/libs.versions.toml

# -----------------------------
# OS-specific files
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# Logs and temporary files
# -----------------------------
*.log
*.tmp
*.bak
*.swp

